#SVGWrapper{
    display: flex;
    flex-wrap: wrap;
    margin-left: 230px;
    width: 100%;
}

.svgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

embed{
    width: 350px;
    height: 283px;
}

#ReportButton{
    background-color: #33cccc !important;
}


@media only screen and (max-width: 1471px) {
    #SVGWrapper{
        margin-left: 200px;
    }   
    embed{
        width: 300px;
    } 
}


@media only screen and (max-width: 1279px) {
    #SVGWrapper{
        flex-direction: column;
        margin-left: 0;
    }
    embed{
        width: 100%;
        height: 500px;
    }
}