<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apollon - smart reporting</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Apollon</h1>
            <p class="subtitle">smart reporting</p>
        </div>
        <div class="section container">
            <h1 class="title">Kolonkarzinom</h1>
            <form class="form-horizontal" action="/generate" method="POST">
                <input type="hidden" value="colon" name="report_type">
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Differenzierung</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="Differenzierung" value="Gut" {% if form['Differenzierung']=='Gut' %}
                                        checked {% endif %}>
                                    Gut
                                </label>
                                <label class="radio">
                                    <input type="radio" name="Differenzierung" value="Mässig" {% if form['Differenzierung']=='Mässig' %}
                                        checked {% endif %}>
                                    Mässig
                                </label>
                                <label class="radio">
                                    <input type="radio" name="Differenzierung" value="Gering" {% if form['Differenzierung']=='Gering' %}
                                        checked {% endif %}>
                                    Gering
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Lokalisation</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="Lokalisation" value="ascendens" {% if form['Lokalisation']=='ascendens' %}
                                            checked {% endif %}>
                                        Ascendens
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="Lokalisation" value="transversum" {% if form['Lokalisation']=='transversum' %}
                                            checked {% endif %}>
                                        Transversum
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="Lokalisation" value="descendens" {% if form['Lokalisation']=='descendens' %}
                                            checked {% endif %}>
                                        Descendens
                                    </label>
                                    <label class="radio">
                                            <input type="radio" name="Lokalisation" value="sigmoideum" {% if form['Lokalisation']=='sigmoideum' %}
                                                checked {% endif %}>
                                        Sigmoideum
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Infiltrationstiefe</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="Infiltrationstiefe" value="Submukosa" {% if form['Infiltrationstiefe']=='Submukosa' %}
                                                checked {% endif %}>
                                            Submukosa pT1
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="Infiltrationstiefe" value="Muscularis" {% if form['Infiltrationstiefe']=='Muscularis' %}
                                                checked {% endif %}>
                                            Muscularis propria pT2
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="Infiltrationstiefe" value="Perikolisches" {% if form['Infiltrationstiefe']=='Perikolisches' %}
                                                checked {% endif %}>
                                            Perikolisches Fett pT3
                                        </label>
                                        <label class="radio">
                                                <input type="radio" name="Infiltrationstiefe" value="Durchbruch" {% if form['Infiltrationstiefe']=='Durchbruch' %}
                                                    checked {% endif %}>
                                            Durchbruch pT4
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                                <div class="field-label">
                                    <label class="label">Tumor im Resektionsrand</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <div class="control">
                                            <label class="checkbox">
                                                <input type="checkbox" name="randoral" {% if form['randoral'] %} checked {%endif %}>
                                                Oral
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" name="randaboral" {% if form['randaboral'] %} checked {%endif %}>
                                                Aboral
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" name="randtief" {% if form['randtief'] %} checked {%endif %}>
                                                Tief
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Durchmesser</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="number" placeholder="mm" name="durchmesser" value="{{form['durchmesser']}}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Tumorbuds</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="number" placeholder="Bd1 0-4, Bd2 5-9, Bd3 >9" name="Tumorbuds" value="{{form['Tumorbuds']}}">
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                                <div class="field-label">
                                    <label class="label">Objektiv</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" name="Objektiv" value="23" {% if form['Objektiv']=='23' %}
                                                    checked {% endif %}>
                                                23
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="Objektiv" value="24" {% if form['Objektiv']=='24' %}
                                                    checked {% endif %}>
                                                24
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="Objektiv" value="25" {% if form['Objektiv']=='25' %}
                                                    checked {% endif %}>
                                                25
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Lymphknoten</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="text" placeholder="positiv" name="lymphknoten_x" value="{{form['lymphknoten_x']}}">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input class="input " type="text" placeholder="negativ" name="lymphknoten_y" value="{{form['lymphknoten_y']}}">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Weitere Informationen:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="lymphangiose" {% if form['lymphangiose'] %} checked {%endif %}>
                                    Lymphangiose
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="haengiose" {% if form['haengiose'] %} checked {% endif%}>
                                    Hämangiose
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="perineuralscheideninfiltration" {% if
                                        form['perineuralscheideninfiltration'] %} checked {% endif %}>
                                    Perineuralscheideninfiltration
                                </label><br>
                                <label class="radio">
                                    <input type="radio" name="MSS" value="MSS+" {% if form['MSS']=='MSS+' %}
                                        checked {% endif %}>
                                    MSS+
                                </label>
                                <label class="radio">
                                    <input type="radio" name="MSS" value="MSS-" {% if form['MSS']=='MSS-' %}
                                        checked {% endif %}>
                                    MSS-
                                </label>
                                <label class="radio">
                                    <input type="radio" name="MSS" value="MSSfolgt" {% if form['MSS']=='MSSfolgt' %}
                                        checked {% endif %}>
                                    MSS folgt
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">
                                    Bericht erstellen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="section container">
            <div class="from-horizontal">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Diagnose</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <pre style="white-space: pre-line" id="s1">
                                {{s1}}
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-info" id="button_s1">
                                    Diagnose kopieren
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section container">
            <div class="from-horizontal">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Zusammenfassung</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <pre style="white-space: pre-line" id="s2">
                                {{s2}}
                            </pre>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-info" id="button_s2">
                                    Zusammenfassung kopieren
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
<script type="text/javascript">

    function copy(id) {
        var copyText = document.getElementById(id).innerHTML;
        copyText = copyText.trim();
        const textArea = document.createElement('textarea');
        textArea.textContent = copyText;
        document.body.append(textArea);
        textArea.select();
        /* Copy the text inside the text field */
        document.execCommand("copy");

        textArea.parentNode.removeChild(textArea);

        /* Alert the copied text */
        console.log("Copied the text: " + copyText.value);
    }

    document.getElementById("button_s1").addEventListener("click", function () {
        copy("s1")
    }, false);
    document.getElementById("button_s2").addEventListener("click", function () {
        copy("s2")
    }, false);

</script>

</html>