<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apollon - smart reporting</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Apollon</h1>
            <p class="subtitle">smart reporting</p>
        </div>
        <div class="section container">
            <h1 class="title">Mammakarzinom</h1>
            <form class="form-horizontal" action="/generate" method="POST">
                <input type="hidden" value="mamma" name="report_type">
                <h2 class="subtitle">1. Invasives Karzinom</h2>
                
                <!--Seite-->
                <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Seite</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="seite" value="links" {% if form['seite']=='links' %}
                                            checked {% endif %}>
                                        Links
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="seite" value="rechts" {% if form['seite']=='rechts' %}
                                            checked {% endif %}>
                                        Rechts
                                    </label>
                                </div>
                            </div>
                        </div>
                </div>
                
                <!--Differenzierung Karzinom-->
                <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Type</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="typ" value="ductal" {% if form['typ']=='ductal' %}
                                            checked {% endif %}>
                                        Duktal
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="typ" value="lobular" {% if form['typ']=='lobular' %}
                                            checked {% endif %}>
                                        Lobulär
                                    </label>
                                </div>
                            </div>
                        </div>
                </div>
                
                <!--BRE-->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">BRE-Score</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="number" placeholder="tubule formation <10 / 10-75 / >75" name="tubform" value="{{form['tubform']}}"
                                    required>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input class="input" type="number" placeholder="Kernpleomorphie" name="kernpleo" value="{{form['kernpleo']}}">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input class="input" type="number" placeholder="Mitosis 10HPF <10 / 10-20 / >20" name="mitosis" value="{{form['mitosis']}}">
                            </p>
                        </div>
                    </div>
                </div>
                
                <!--Durchmesser-->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Durchmesser</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="number" placeholder="mm" name="durchmesser" value="{{form['durchmesser']}}">
                            </div>
                        </div>
                    </div>
                </div>

                <!--RR Invasiv-->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Abstand RR</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="number" placeholder="cranial: >5" name="cranial" value="{{form['cranial']}}">
                            </p>
                        </div>
                        <div class="field">
                                <p class="control">
                                    <input class="input" type="number" placeholder="caudal: >5" name="caudal" value="{{form['caudal']}}">
                                </p>
                        </div>
                        <div class="field">
                                <p class="control">
                                    <input class="input" type="number" placeholder="medial: >5" name="medial" value="{{form['medial']}}">
                                </p>
                        </div>
                        <div class="field">
                                <p class="control">
                                    <input class="input" type="number" placeholder="lateral: >5" name="lateral" value="{{form['lateral']}}">
                                </p>
                        </div>   
                        <div class="field">
                                <p class="control">
                                    <input class="input" type="number" placeholder="dorsal: >5" name="dorsal" value="{{form['dorsal']}}">
                                </p>
                        </div>
                        <div class="field">
                                <p class="control">
                                    <input class="input" type="number" placeholder="ventral: >5" name="ventral" value="{{form['ventral']}}">
                                </p>
                        </div>          
                    </div>
                </div>

                <!--Lymph/Haemangiosis-->
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Weitere Informationen:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="lymphangiose" {% if form['lymphangiose'] %} checked {%
                                        endif %}>
                                    Lymphangiose
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="haengiose" {% if form['haengiose'] %} checked {% endif
                                        %}>
                                    Hämangiose
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="perineuralscheideninfiltration" {% if
                                        form['perineuralscheideninfiltration'] %} checked {% endif %}>
                                    Perineuralscheideninfiltration
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="skinvasion" {% if
                                        form['skinvasion'] %} checked {% endif %}>
                                    Tumorinfiltration der Haut
                                </label>
                            </div>
                        </div>
                    </div>
                </div><br>

                <!--DCIS-->
                <h2 class="subtitle">2. Duktal carcinoma in situ (DCIS)</h2>

                <!--DCISAusmaß-->
                <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Ausmaß</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="Ausmaß" value="Wenig" {% if form['Ausmaß']=='Wenig' %}
                                            checked {% endif %}>
                                        Wenig
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="Ausmaß" value="Mässig" {% if form['Ausmaß']=='Mässig' %}
                                            checked {% endif %}>
                                        Mässig
                                    </label>
                                    <label class="radio">
                                            <input type="radio" name="Ausmaß" value="Extensiv" {% if form['Ausmaß']=='Extensiv' %}
                                                checked {% endif %}>
                                        Extensiv
                                    </label>
                                </div>
                            </div>
                        </div>
                </div>

                <!--DCISLokalisation-->
                <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Lokalisation</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox" name="Intratumoral" value="intratumor" {% if form['Intratumoral']=='intratumor' %}
                                            checked {% endif %}>
                                        Intratumoral
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" name="peritumoral" value="peritumoral" {% if form['peritumoral']=='peritumoral' %}
                                            checked {% endif %}>
                                        Peritumoral
                                    </label>
                                </div>
                            </div>
                        </div>
                </div>

                <!--DCISGrading-->
                <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">DCIS-Grading</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="DCIS-Grading" value="G1" {% if form['DCIS-Grading']=='G1' %}
                                            checked {% endif %}>
                                        G1
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="DCIS-Grading" value="G2" {% if form['DCIS-Grading']=='G2' %}
                                            checked {% endif %}>
                                        G2
                                    </label>
                                    <label class="radio">
                                            <input type="radio" name="DCIS-Grading" value="G3" {% if form['DCIS-Grading']=='G3' %}
                                                checked {% endif %}>
                                        G3
                                    </label>
                                </div>
                            </div>
                        </div>
                </div>

                <!--Wachstumsmuster-->
                <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Wachstumsmuster</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox" name="kribriform" {% if form['kribriform'] %} checked {%
                                            endif %}>
                                        Kribriform
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" name="Solide" {% if form['solide'] %} checked {% endif
                                            %}>
                                        Solide
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" name="papillär" {% if form['papillär'] %} checked {% endif %}>
                                        Papillär
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" name="mikropapillär" {% if form['mikropapillär'] %}
                                            checked {% endif %}>
                                        Mikropapillär
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" name="Comedonekrosen" {% if form['Comedonekrosen'] %} checked {% endif %}>
                                        Comedonekrosen
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                <!--DCISRR-->
                <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Abstand RR</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="number" placeholder="cranial: wie CA" name="dccran" value="{{form['dccran']}}">
                                        <required>
                                </p>
                            </div>
                            <div class="field">
                                    <p class="control">
                                        <input class="input" type="number" placeholder="caudal: wie CA" name="dccaud" value="{{form['dccaud']}}">
                                            <required>
                                    </p>
                            </div>
                            <div class="field">
                                    <p class="control">
                                        <input class="input" type="number" placeholder="medial: wie CA" name="dcmed" value="{{form['dcmed']}}">
                                            <required>
                                    </p>
                            </div>
                            <div class="field">
                                    <p class="control">
                                        <input class="input" type="number" placeholder="lateral: wie CA" name="dclat" value="{{form['dclat']}}">
                                            <required>
                                    </p>
                            </div>   
                            <div class="field">
                                    <p class="control">
                                        <input class="input" type="number" placeholder="dorsal: wie CA" name="dcdors" value="{{form['dcdors']}}">
                                            <required>
                                    </p>
                            </div>
                            <div class="field">
                                    <p class="control">
                                        <input class="input" type="number" placeholder="ventral: wie CA" name="dcvent" value="{{form['dcvent']}}">
                                            <required>
                                    </p>
                            </div>          
                        </div>
                    </div>        

                <!--Prädiktiove marker-->
                <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Prädiktive Marker</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                    <p class="control">
                                        <input class="input" type="number" placeholder="ER %" name="ER" value="{{form['ER']}}">
                                            <required>
                                    </p>
                            </div>
                            <div class="field">
                                    <p class="control">
                                        <input class="input" type="number" placeholder="PR %" name="PR" value="{{form['PR']}}">
                                            <required>
                                    </p>
                            </div>
                            <div class="field">
                                    <p class="control">
                                        <input class="input" type="number" placeholder="HER2 0,1,2,3" name="HER2" value="{{form['HER2']}}">
                                            <required>
                                    </p>
                            </div>   
                            <div class="field">
                                    <p class="control">
                                        <input class="input" type="number" placeholder="Ki67 %" name="Ki67" value="{{form['Ki67']}}">
                                            <required>
                                    </p>
                            </div>
                        </div>
                    </div>   
                
                <!--Lymphknoten-->
                <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Lymphknoten</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="text" placeholder="positiv" name="lymphknoten_x" value="{{form['lymphknoten_x']}}">
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <input class="input " type="text" placeholder="negativ" name="lymphknoten_y" value="{{form['lymphknoten_y']}}">
                                </p>
                            </div>
                        </div>
                </div><br>

                <!--3. Übrige Mamma-->
                <h2 class="subtitle">3. Übrige Mamma</h2>            

                <!--Extras-->
                <div class="field is-horizontal">
                    <div class="field-label">
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="fd" {% if form['fd'] %} checked {%
                                        endif %}>
                                    Fibrose&Duktektasien
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="am" {% if form['am'] %} checked {% endif
                                        %}>
                                    Apokrine Metaplasie
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="mp" {% if form['mp'] %} checked {% endif %}>
                                    Papillomen der periph...
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="udh" {% if form['udh'] %}
                                        checked {% endif %}>
                                    UDH
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="miazdb" {% if form['miazdb'] %} checked {% endif %}>
                                    Mikrokalk in asso...
                                </label>
                            </div>
                        </div>
                    </div>
                </div><br>
        
    <!--Generate Sentence-->
    <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">
                                    Bericht erstellen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="section container">
            <div class="from-horizontal">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Diagnose</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <pre style="white-space: pre-line" id="s1">
                                {{s1}}
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-info" id="button_s1">
                                    Diagnose kopieren
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section container">
            <div class="from-horizontal">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Zusammenfassung</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <pre style="white-space: pre-line" id="s2">
                                {{s2}}
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-info" id="button_s2">
                                    Zusammenfassung kopieren
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
<script type="text/javascript">

    function copy(id) {
        var copyText = document.getElementById(id).innerHTML;
        copyText = copyText.trim();
        const textArea = document.createElement('textarea');
        textArea.textContent = copyText;
        document.body.append(textArea);
        textArea.select();
        /* Copy the text inside the text field */
        document.execCommand("copy");

        textArea.parentNode.removeChild(textArea);

        /* Alert the copied text */
        console.log("Copied the text: " + copyText.value);
    }

    document.getElementById("button_s1").addEventListener("click", function () {
        copy("s1")
    }, false);
    document.getElementById("button_s2").addEventListener("click", function () {
        copy("s2")
    }, false);

</script>

</html>