<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apollon - smart reporting</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Apollon</h1>
            <p class="subtitle">smart reporting</p>
        </div>
        <div class="section container">
            <h1 class="title">Prostatakarzinom</h1>
            <form class="form-horizontal" action="/generate" method="POST">
                <input type="hidden" value="prostate" name="report_type">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Gleason

                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="number" placeholder="häufigste" name="gleason_x" value="{{form['gleason_x']}}"
                                    required>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input class="input" type="number" placeholder="2. häufigste" name="gleason_y" value="{{form['gleason_y']}}">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Betroffene Lappen</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="lappen" value="links" {% if form['lappen']=='links' %}
                                        checked {% endif %}>
                                    Links
                                </label>
                                <label class="radio">
                                    <input type="radio" name="lappen" value="rechts" {% if form['lappen']=='rechts' %}
                                        checked {% endif %}>
                                    Rechts
                                </label>
                                <label class="radio">
                                    <input type="radio" name="lappen" value="Beide" {% if form['lappen']=='beide' %}
                                        checked {% endif %}>
                                    Beide
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Durchmesser</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="number" placeholder="mm" name="durchmesser" value="{{form['durchmesser']}}">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Lymphknoten</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="text" placeholder="positiv" name="lymphknoten_x" value="{{form['lymphknoten_x']}}">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input class="input " type="text" placeholder="negativ" name="lymphknoten_y" value="{{form['lymphknoten_y']}}">
                            </p>
                        </div>
                    </div>
                </div>
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 194.78 117.18"><defs><style>.cls-1{fill:#fff;stroke:#000;stroke-miterlimit:10;}.cls-2{font-size:12px;font-family:MyriadPro-Regular, Myriad Pro;}.cls-3{letter-spacing:-0.01em;}.cls-4{letter-spacing:-0.01em;}.cls-5{letter-spacing:0em;}</style></defs><title>test</title><rect class="cls-1" x="0.5" y="0.5" width="193.78" height="116.18"/><text class="cls-2" transform="translate(39.5 24.57)"><tspan class="cls-3">L</tspan><tspan x="5.5" y="0">o</tspan><tspan class="cls-4" x="12.08" y="0">r</tspan><tspan class="cls-5" x="15.89" y="0">em ipsum</tspan></text></svg>


                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">RR Tumorfrei</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="rr_tumorfrei" {% if form['rr_tumorfrei'] %} checked {%
                                        endif %}>
                                    Ja
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Lokalisation Mindestabstand / Infiltration</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="number" placeholder="dorsolateral rechts" name="rr_wo" value="{{form['rr_wo']}}">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Mindestabstand / Infiltrationsstrecke</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="number" placeholder="4 mm" name="rr_strecke" value="{{form['rr_strecke']}}">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Weitere Informationen:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="lymphangiose" {% if form['lymphangiose'] %} checked {%
                                        endif %}>
                                    Lymphangiose
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="haengiose" {% if form['haengiose'] %} checked {% endif
                                        %}>
                                    Hämangiose
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="perineuralscheideninfiltration" {% if
                                        form['perineuralscheideninfiltration'] %} checked {% endif %}>
                                    Perineuralscheideninfiltration
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="tumorfreie_sabla" {% if form['tumorfreie_sabla'] %}
                                        checked {% endif %}>
                                    Tumorfreie Sabla
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" name="extraprostatisches_wachstum" {% if
                                        form['extraprostatisches_wachstum'] %} checked {% endif %}>
                                    Extraprostatisches Wachstum
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">
                                    Bericht erstellen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="section container">
            <div class="from-horizontal">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Diagnose</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <pre style="white-space: pre-line" id="s1">
                                {{s1}}
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-info" id="button_s1">
                                    Diagnose kopieren
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section container">
            <div class="from-horizontal">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Zusammenfassung</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <pre style="white-space: pre-line" id="s2">
                                {{s2}}
                            </pre>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-info" id="button_s2">
                                    Zusammenfassung kopieren
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
<script type="text/javascript">

    function copy(id) {
        var copyText = document.getElementById(id).innerHTML;
        copyText = copyText.trim();
        const textArea = document.createElement('textarea');
        textArea.textContent = copyText;
        document.body.append(textArea);
        textArea.select();
        /* Copy the text inside the text field */
        document.execCommand("copy");

        textArea.parentNode.removeChild(textArea);

        /* Alert the copied text */
        console.log("Copied the text: " + copyText.value);
    }

    document.getElementById("button_s1").addEventListener("click", function () {
        copy("s1")
    }, false);
    document.getElementById("button_s2").addEventListener("click", function () {
        copy("s2")
    }, false);

</script>

</html>